/* These Css are applicable for each section */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

img, svg {
  vertical-align: middle;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: auto !important;
  margin: 0;
  padding: 0;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}



/* common css end*/


/* roduct css start */

@font-face{
  font-family: "ABC Favorit Variable";
  font-weight: 700;
  src: url('../font/ABCFavorit-Bold.woff2') format('woff2'),
       url('../font/ABCFavorit-Bold.woff') format('woff');
}


.pf-common-heading{
  color: #444;
  font-family: "ABC Favorit Variable";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 104%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  max-width: 660px;
}

.pf-sub-heading{
  color: #AAA;
  font-family: "ABC Favorit Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  max-width: 660px;
}

.pf-shop-btn{
  color: #FFF;
  font-family: "ABC Favorit";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  background: #74663E;
  padding: 12.5px 42px;
  border-radius: 7px;
  transition: all linear .3s;
  }

  .pf-shop-btn:hover{
    background: #ad9759;
  }

  .pf-essential-product-section 
  .pf-product-slide .swiper-wrapper
  .swiper-slide .pf-product-card a img{
      width: 100%;
      height: auto;
      border-radius: 10px;
  }


  .pf-essential-product-section .pf-product-heading,
  .pf-bundle-section .pf-bundle-heading
  {
    display: flex;
    justify-content: space-between;
  }

  .pf-essential-product-section{
    padding: 40px 0;
  }
  .pf-essential-product-section
  .pf-product-card a img{
    border-radius: 10px;
  }
  .pf-essential-product-section .pf-product-card .pf-product-title,
  .pf-shop-soluation-section .pf-product-card .pf-product-title,
  .pf-benifit-section .pf-section-accordian .pf-accrdians .pf-product-title,
  .pf-team-section .pf-team-text .text .pf-product-title,
  .pf-choose-section .pf-tabs .pf-product-title
  {
    color:#444;
    font-family: "ABC Favorit Variable";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
  }

  @media (min-width: 576px) and (max-width: 767px) {
    .pf-essential-product-section .pf-product-card .pf-product-title,
    .pf-shop-soluation-section .pf-product-card .pf-product-title,
    .pf-benifit-section .pf-section-accordian .pf-accrdians .pf-product-title,
    .pf-team-section .pf-team-text .text .pf-product-title,
    .pf-choose-section .pf-tabs .pf-product-title
    {
      font-size: 20px;
    }
  }
  @media (max-width: 575px){
    .pf-essential-product-section .pf-product-card .pf-product-title,
    .pf-shop-soluation-section .pf-product-card .pf-product-title,
    .pf-benifit-section .pf-section-accordian .pf-accrdians .pf-product-title,
    .pf-team-section .pf-team-text .text .pf-product-title,
    .pf-choose-section .pf-tabs .pf-product-title
    {
      font-size: 18px;
    }
  }
  .pf-benifit-section .pf-section-accordian .pf-accrdians .pf-product-title{
    font-size: 20px;
    color: #666666;
    margin-bottom: 10px;
  }
  .pf-essential-product-section .pf-product-card .pf-product-sub-title,
  .pf-shop-soluation-section .pf-product-card .pf-product-sub-title,
  .pf-made-section .pf-made-science-card .pf-text .pf-made-card-head,
  .pf-benifit-section .pf-section-accordian .pf-accordian-open .pf-product-sub-title,
  .pf-team-section .pf-team-text .text .pf-product-sub-title,
  .pf-choose-section .pf-left-text .pf-product-sub-title
  {
    color:#AAA;
    font-family: "ABC Favorit Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
  }
  .pf-benifit-section .pf-section-accordian .pf-accordian-open .pf-product-sub-title{
    font-size: 14px;
    max-width: 616px;
    padding-bottom: 10px;
  }
  .pf-essential-product-section .pf-product-card .pf-product-price,
  .pf-shop-soluation-section .pf-product-card .pf-product-price{
    color:#444;
    font-family: "ABC Favorit Variable";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
  }
  .pf-product-slide .pf-arrow-btns .pf-prev,
  .pf-shop-solution .pf-arrow-btns .pf-prev,
  .pf-bundle-section .pf-arrow-btns .pf-prev,
  .pf-review-section .pf-arrow-btns .pf-prev,
  .pf-customer-feedback-section .pf-arrow-btns .pf-prev{
    border-radius: 50px;
    border: 1px solid #666;
    cursor: pointer;
    width: 48px;
    height: 48px;
    padding: 12px;
    margin-right: 15px;
  }
  .pf-product-slide .pf-arrow-btns .pf-next,
  .pf-shop-solution .pf-arrow-btns .pf-next,
  .pf-bundle-section .pf-arrow-btns .pf-next,
  .pf-review-section .pf-arrow-btns .pf-next,
  .pf-customer-feedback-section .pf-arrow-btns .pf-next{
    border-radius: 50px;
    border: 1px solid #666;
    cursor: pointer;
    width: 48px;
    height: 48px;
    padding: 12px;
  }
  .pf-product-slide .pf-arrow-btns,
    .pf-shop-solution .pf-arrow-btns,
    .pf-bundle-section .pf-arrow-btns{
    margin-top: 36px;
  }



@media (min-width: 768px) and (max-width:991px) {
  .pf-common-heading {
    font-size: 54px;
    max-width: 51%;
  }
  .pf-essential-product-section .pf-product-heading .pf-text .pf-common-heading{
    max-width: 100%;
    font-size: 35px;
  }
}


@media (min-width: 576px) and (max-width:767.98px) {
  .pf-common-heading {
    font-size: 40px;
    max-width: 50%;
  }
  .pf-sub-heading{
    font-size: 18px;
  }
  .pf-product-slide .pf-arrow-btns,
  .pf-shop-solution .pf-arrow-btns,
  .pf-bundle-section .pf-arrow-btns,
  .pf.pf-arrow-btns{
    margin-top: 20px;
  }
  .pf-essential-product-section .pf-product-heading,
  .pf-shop-soluation-section .pf-product-heading,
  .pf-shop-soluation-section .pf-review-heading
   {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
  }
  .pf-essential-product-section .pf-product-heading .pf-text .pf-common-heading{
    max-width: 100%;
    font-size: 30px;
  }

}


@media (max-width: 575px){
  .pf-common-heading {
    font-size: 40px;
    max-width: 50%;
  }
  .pf-sub-heading{
    font-size: 18px;
  }
  .pf-product-slide .pf-arrow-btns,
  .pf-shop-solution .pf-arrow-btns,
  .pf-bundle-section .pf-arrow-btns {
    margin-top: 20px;
}

.pf-essential-product-section .pf-product-heading,
.pf-shop-soluation-section .pf-product-heading, 
.pf-bundle-section .pf-bundle-heading{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.pf-shop-btn {
  font-size: 18px;
  padding: 3px 18px;
  margin-top: 20px;
}
  .pf-essential-product-section .pf-product-heading .pf-text .pf-common-heading{
    max-width: 100%;
    font-size: 30px;
  }
}

/*product css end */



/* prduct discount section start */
.pf-prduct-discount-section{
  padding: 80px 0;
} 
.pf-prduct-discount-section .pf-card-main .pf-left-text .pf-common-heading{
  color: #74663E;
  max-width: 480px;
  line-height: 100%; 
}
.pf-prduct-discount-section .pf-card-main .pf-left-text .pf-sub-heading{
  color: #74663E;
  max-width: 480px;
  line-height: 100%; 
  font-family: "Open Sans", serif;
  line-height: 24px; /* 24px */
  max-width: 625px;
  margin-top: 24px;
  margin-bottom: 25px;
  font-size: 20px;
}
.pf-prduct-discount-section .pf-input-area input,
.pf-news-section .pf-input-area input{
  padding: 12px;
  max-width: 100%;
  width: 339px;
  height: 55px;
  border-radius: 7px;
  border-color: #74663E;
  background: transparent;
  color: #74663E;
  margin-right: 16px;
}
.pf-prduct-discount-section .pf-card-main .pf-input-area .pf-subscribe-btn,
.pf-news-section .pf-card-main .pf-input-area .pf-subscribe-btn{
  background: #74663E;
  padding: 12px 24px;
  color: #fff;
  border-radius: 7px;
  font-family: "Open Sans", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}

.pf-prduct-discount-section .pf-card-main
.pf-input-area input::placeholder{
  color: #74663E;
  font-family: "Open Sans", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.pf-btm-text{
  color: #666;
  font-family: "ABC Favorit Variable";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  margin-top: 16px;
}
.pf-news-section .pf-card-main{
  background: #fff;
}
.pf-prduct-discount-section .pf-card-main
{
  background: #D8D6D3;
  padding: 64px;
  border-radius: 20px;
}


.pf-prduct-discount-section .pf-card-main .pf-right-img img{
position: absolute;
    right: -50px;
    top: -121px;
}

.pf-prduct-discount-section .pf-card-main .pf-right-img {
  position: relative;
}


@media (min-width: 1400px) {
}

@media(min-width:1200px) and (max-width:1399.98px){
  .pf-prduct-discount-section .pf-input-area input{
    width: 100%;
    margin-bottom: 15px;
  }

  .pf-prduct-discount-section .pf-card-main .pf-right-img img {
    right: -50px;
    top: -36px;}
  
}


@media(min-width:992px) and (max-width:1199.98px){
  .pf-prduct-discount-section .pf-input-area input{
    width: 100%;
    margin-bottom: 15px;
  }

  .pf-prduct-discount-section .pf-card-main .pf-right-img img {
    right: -50px;
    top: 21px;
  }
}



@media(min-width:768px) and (max-width:991.98px){

  .pf-prduct-discount-section .pf-card-main .pf-right-img img{
    position: static;
    width: 350px;
    height: auto;
    margin: 30px auto 0 auto;
    }

    .pf-prduct-discount-section .pf-card-main .pf-left-text .pf-common-heading{
      max-width: 100%;
    }
    .pf-prduct-discount-section .pf-card-main .pf-left-text .pf-sub-heading{
      max-width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
  .pf-prduct-discount-section .pf-card-main .pf-right-img img{
    position: static;
    width: 350px;
    height: auto;
    margin: 30px auto 0 auto;
    }

    .pf-prduct-discount-section .pf-card-main .pf-left-text .pf-common-heading{
      max-width: 100%;
    }
    .pf-prduct-discount-section .pf-card-main .pf-left-text .pf-sub-heading{
   font-size: 18px;
    }
    .pf-prduct-discount-section .pf-card-main .pf-input-area .pf-subscribe-btn{
      margin-top: 16px;
    }
    .pf-prduct-discount-section .pf-card-main{
      padding: 40px;
    }

}
@media (max-width: 575px) {
  .pf-prduct-discount-section .pf-card-main .pf-right-img img{
    position: static;
    width: 200px;
    height: auto;
    margin: 30px auto 0 auto;
    }

    .pf-prduct-discount-section .pf-card-main .pf-left-text .pf-common-heading{
      max-width: 100%;
    }
    .pf-prduct-discount-section .pf-card-main .pf-left-text .pf-sub-heading{
      font-size: 18px;
    }
    .pf-prduct-discount-section .pf-card-main .pf-input-area .pf-subscribe-btn{   
      margin-top: 16px;
    }
    .pf-prduct-discount-section .pf-card-main {
      padding: 40px 10px;
  }
}

/* prduct discount section start */

/* shop soluation css start */
  .pf-shop-soluation-section{
    padding: 80px 0;
    background: #EEEEEE;
    margin-top: 80px;
  }
  .pf-shop-soluation-section .pf-product-heading{
    display: flex;
    justify-content: space-between;
  }


  .pf-shop-soluation-section .pf-product-heading .pf-text .pf-common-heading,
  .pf-shop-soluation-section .pf-product-heading .pf-text .pf-sub-heading{
    text-align: end;
  }

  .pf-shop-soluation-section
  .pf-shop-solution
  .swiper-wrapper .swiper-slide .pf-product-card a img{
      width: 100%;
      height: 364.8px;
      border-radius: 10px;
      object-fit: cover;
  }


  @media(min-width:768px) and (max-width:991.98px){
      .pf-shop-soluation-section .pf-product-heading .pf-text .pf-common-heading {
          font-size: 54px;
          max-width: 99%;
      }
  }

  @media (min-width: 576px) and (max-width: 767px) {
      .pf-shop-soluation-section .pf-product-heading .pf-text .pf-common-heading {
        font-size: 40px;  
    }
    
  .pf-shop-soluation-section .pf-product-heading .pf-text .pf-common-heading,
  .pf-shop-soluation-section .pf-product-heading .pf-text .pf-sub-heading{
    text-align: end;
    max-width: 100%;
  }

  }
  @media (max-width: 575px) {
      .pf-shop-soluation-section .pf-product-heading .pf-text .pf-common-heading {
        font-size: 40px;
    }
    
    .pf-shop-soluation-section .pf-product-heading .pf-text .pf-common-heading,
    .pf-shop-soluation-section .pf-product-heading .pf-text .pf-sub-heading{
      text-align: end;
      max-width: 100%;
    }

  }
/* shop soluation css end */



/* bundle section start */
.pf-bundle-section{
  padding: 80px 0;
}

.pf-bundle-section .pf-bundle-slider .pf-bundle-card a img{
  height: 576px;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

@media (min-width: 768px) and (max-width:991px) {
 .pf-bundle-section .pf-bundle-heading .pf-common-heading {
    font-size: 54px;
    max-width: 100%;
  }
 .pf-bundle-section .pf-bundle-heading .pf-sub-heading{
    max-width: 500px;
  }
}
@media (min-width: 576px) and (max-width:767px) {
 .pf-bundle-section .pf-bundle-heading .pf-common-heading {
    font-size: 40px;
    max-width: 100%;
  }
 .pf-bundle-section .pf-bundle-heading .pf-sub-heading{
    max-width: 500px;
  }
}

/* bundle section end */

/* made section start */
.pf-made-section{
  padding: 80px 0;
  background: #EEEEEE;
}
.pf-made-section .pf-made-heading .pf-text{
 display: flex;
 flex-direction: column;
 align-items: end;
}
.pf-made-section .pf-made-heading .pf-text .pf-common-heading{
  text-align: end;
  max-width: 100%;
}

.pf-made-section .pf-made-heading,
.pf-gallery-section .pf-made-heading{
  position: relative;
}


@media (min-width: 768px) and (max-width:991px) {
  .pf-gallery-section .pf-made-heading img{
    display: none;
  }
}
@media (min-width: 576px) and (max-width:767px) {
  .pf-gallery-section .pf-made-heading img{
    display: none;
  }
}
@media (max-width: 576px){
    .pf-gallery-section .pf-made-heading img{
    display: none;
  }
}

.pf-made-section .pf-made-heading img,
.pf-gallery-section .pf-made-heading img{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.pf-made-section .pf-made-science-card a img{
  border-radius: 15px;
}

.pf-made-section .pf-made-science-card .pf-text .pf-made-card-head{
  color: #fff;
  padding-bottom: 8px;
}

.pf-made-section .pf-made-science-card .pf-text .pf-made-card-sub{
  font-family: "ABC Favorit Variable";
  font-size: 32px;
  font-weight: 700;
  line-height: 41.6px;
  color: #fff;
}
.pf-made-section .pf-made-science-card .pf-text .pf-paragraph{
  padding-bottom: 24px;
  font-family: "ABC Favorit Variable";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 352px;
  color: #fff;
}

.pf-made-section .pf-made-science-card .pf-text  .pf-made-btn{
font-size: 16px;
font-weight: 400;
line-height: 24px;
font-family: "Open Sans", serif;
color: #fff;
margin-bottom: 32px;
}
.pf-made-section .pf-made-science-card {
  position: relative;
}

.pf-made-section .pf-made-science-card .pf-text {
  position: absolute;
  left: 32px;
  bottom: 0;
}
.pf-made-section .pf-made-heading .pf-sub-heading{
  padding-bottom: 79px;
}


@media (min-width: 768px) and (max-width:991px) {
  .pf-made-section .pf-made-heading img{
    display: none;
  }

  .pf-made-section .pf-container .pf-row-02{
    gap: 30px;
  }

}
@media (min-width: 576px) and (max-width:767px) {
  .pf-made-section .pf-made-heading img{
    display: none;
  }
  .pf-made-section .pf-container .pf-row-02{
    gap: 30px;
  }
}
@media (max-width: 576px){
  .pf-made-section .pf-made-heading img{
    display: none;
  }
  .pf-made-section .pf-container .pf-row-02{
    gap: 30px;
  }
}
/* made section end */




/* review section css start */

.pf-review-section .pf-arrow-btns .pf-next{
  margin-right: 15px;
}

.pf-review-section .pf-rivew-slider .swiper-wrapper .swiper-slide{
  height: 622px;
}
.pf-review-section .pf-rivew-slider .swiper-wrapper .swiper-slide .pf-review-card{
  height: 100%;
}

.pf-review-section .pf-rivew-slider .swiper-wrapper .swiper-slide .pf-review-card a{
  display: block;
  height: 90%;
  transition: height 0.5s;
}

.pf-review-section .pf-rivew-slider .swiper-wrapper .swiper-slide-active .pf-review-card a{
  height: 100%;
}

.pf-review-section{
  padding: 80px 0;
}

.pf-review-section .pf-review-heading{
  display: flex;
  justify-content: space-between;
}

.pf-review-section .pf-rivew-slider .pf-review-card a img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.pf-review-section .pf-rivew-slider .pf-arrow-btns{
  margin-top: 60px;
}

@media (max-width: 575px) {
  .pf-review-section .pf-review-heading{
    flex-direction: column;
  }
}
/* review section css end */



/* customer feedback section css start */
.pf-customer-feedback-section{
  padding: 80px 0;
}
.pf-customer-feedback-section .pf-feedback-heading .pf-text{
  text-align: end;
  display: flex;
  align-items: end;
  flex-direction: column;
}
.pf-customer-feedback-section .pf-feedback-heading .pf-text .pf-common-heading,
.pf-customer-feedback-section .pf-feedback-heading .pf-text .pf-sub-heading{
  max-width: 100%;
}

.pf-customer-feedback-section .pf-feedback-slider .pf-feedback-card{
  background: #D8D6D3;
  padding: 32px;
  border-radius: 20px;
}

.pf-customer-feedback-section .pf-feedback-slider .pf-feedback-card .pf-sub-heading{
  font-weight: 400;
  color: #74663E;
  line-height: 150%; /* 36px */
  max-width: 352px;
  font-size: 16px;
  font-family: "Poppins", serif;
  margin-bottom: 24px;
}
  

.client-info{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 32px;
}

.client-info .text p{
  color: #74663E;
  font-family: "Poppins", serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.pf-feedback-slider .pf-made-btn{
  color: #74663E;
  font-family: "Poppins", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.pf-customer-feedback-section .pf-feedback-slider .pf-arrow-btns{
  margin-top: 20px;
}

/* customer feedback section css end */


/* faq section css start */

/* ====== */
.pf-faq-section {
  padding: 80px 0;
  background: #EEEEEE;
}
.pf-faq-section .pf-faq-heading .pf-text .pf-common-heading{
  text-align: center;
  max-width: 100%;
}

.pf-faq-section .pf-faq-heading .pf-text .pf-sub-heading{
  text-align: center;
  max-width: 332px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px;
  color: #AAAAAA;
  margin-top: 24px;
  margin-bottom: 40px;
}

.pf-faq-section .pf-accordian-card .pf-head .pf-accordian-head{
  font-family: "ABC Favorit Variable";
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.pf-faq-section .pf-accordian-card{
  max-width: 768px;
  margin: 0 auto;
  padding: 20px 24px;
  border: 1px solid #74663E;
  border-radius: 24px;
  margin-bottom: 16px;
}


.pf-faq-section .pf-accordian-card .pf-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
  cursor: pointer;
}

.pf-faq-section .pf-accordian-card .pf-head .pf-accordian-head{
font-family: "ABC Favorit Variable";
font-size: 18px;
font-weight: 700;
line-height: 27px;
color: #74663E;

}

.pf-faq-section .pf-accordian-card .pf-sub-acc{
  font-family: "Open Sans", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 720px;
  color: #444444;
}


/* ========= */


.pf-faq-section .pf-accordian-card .pf-sub-acc {
  max-height: 0;
  overflow: hidden;
  color: #333;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.pf-faq-section .pf-accordian-card.active .pf-sub-acc {
  max-height: 200px; 
}

.toggle-icon {
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}

.pf-accordian-card.active .toggle-icon {
  transform: rotate(45deg); 
}


.pf-faq-section .faqBtom{
  width: 790px;
  margin: 0 auto;
  max-width: 100%;
}
.pf-faq-section .pf-accordian-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pf-faq-section .pf-accordian-bottom h3{
font-family: "ABC Favorit Variable";
font-size: 32px;
font-weight: 700;
line-height: 41.6px;
color: #444444;
padding-bottom: 4px;
}
.pf-faq-section .pf-accordian-bottom p{
  font-family: "ABC Favorit Variable";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #AAAAAA;
}
/* faq section css end */



/* news latter section css start */

.pf-news-section{
  padding: 80px 0;
}

.pf-news-section .pf-card-main .pf-left-text .pf-common-heading{
  margin-bottom: 24px;
  max-width: 400px;
  color: #74663E;
} 
.pf-news-section .pf-card-main .pf-left-text .pf-sub-heading{
  margin-bottom: 32px;
  font-size: 16px;
  max-width: 368px;
} 
.pf-new-img a img{
  border-radius: 20px;
}
.pf-news-section .pf-card-main .pf-input-area{
  margin-bottom: 16px;
}

@media (min-width: 576px) and (max-width:767px) {
  .pf-news-section .pf-container .pf-row{
    gap: 30px;
  }

}

@media (min-width: 768px) and (max-width:991px) {
  .pf-news-section .pf-container .pf-row{
    gap: 30px;
  }

}
@media (max-width: 575px) {
  .pf-news-section .pf-container .pf-row{
    gap: 30px;
  }

}

.pf-news-section{
  background: #fff;
}

@media(max-width:575px){
  .pf-news-section .pf-card-main .pf-input-area{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .pf-news-section .pf-card-main .pf-input-area input{
    width: 100%;
  }
  .pf-news-section .pf-card-main .pf-input-area .pf-subscribe-btn{
    width: 166px;
    text-align: center;
  }
}

/* news latter section css end */



/* ==========================================
              prouct page details
==============================================*/


/* product details section start */
  .product_details_section .review .pf-product_text,
  .pf-team-section .pf-team-warapper .pf-product_text,
  .pf-choose-section .pf-left-text .pf-product_text{
    color:#444;
    font-family: "ABC Favorit Variable";
    font-size: 40px;
    font-weight: 700;
    line-height: 120%; /* 48px */
  }

  @media(min-width:768px) and (max-width:991.98px){
    .product_details_section .review .pf-product_text,
    .pf-team-section .pf-team-warapper .pf-product_text,
    .pf-choose-section .pf-left-text .pf-product_text{
      font-size: 35px;
    }
  }
  @media (min-width: 576px) and (max-width: 767px) {
    .product_details_section .review .pf-product_text,
    .pf-team-section .pf-team-warapper .pf-product_text,
    .pf-choose-section .pf-left-text .pf-product_text{
      font-size: 30px;
    }
  }
  @media (max-width: 575px){
    .product_details_section .review .pf-product_text,
    .pf-team-section .pf-team-warapper .pf-product_text,
    .pf-choose-section .pf-left-text .pf-product_text{
      font-size: 30px;
    }
  }

  .product_details_section .review .pf-star .icon span{
    color: #666;
    text-align: center;
    font-family: "ABC Favorit Variable";
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

  .product_details_section .review .pf-star .icon {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .product_details_section .review .pf-star{
    margin-bottom: 8px;
  }
  
  .product_details_section .review .pf-price{
    color:#444;
    font-family: "ABC Favorit Variable";
    font-size: 24px;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
    margin-bottom: 15px;
  }
    
  .product_details_section .review .pf-price span{
    color: #AAA;
  }

  .product_details_section .review .pf-delivery .pf-normal-text{
    color: #666;
    font-family: "ABC Favorit Variable";
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; 
    text-align: center;
    padding: 8px 0;
  }
  .product_details_section .review .pf-delivery{
    background: #F8F8F8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }

  .product_details_section{
    padding: 80px 0;
    background: #EEE;
  }
  .product_details_section .review .pf-quality{
    margin-top: 31px;
    margin-bottom: 10px;
  }

  .product_details_section .review .pf-quality .pf-normal-text
  .product_details_section .pf-container .pf-row .pf-top-buttons .pf-normal-text{
    font-size: 16px;
    font-weight: 400;
    color: #444;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 8px;
  }
  .product_details_section .review .pf-quality .pf-btn{
    background: #E2E2E2;
    padding: 12px 24px;
    border-radius: 7px;
    margin-right: 16px;
    transition: all linear .3s;
    margin-top: 8px;
  }
  .product_details_section .review .pf-quality .pf-btn:hover{
    background: #74663E;
  }
  .product_details_section .review .pf-quality .pf-btn:hover .pf-btn-text{
    color: #fff;
  }
  .product_details_section .review .pf-quality .pf-btn .pf-btn-text,
  .product_details_section .review .cart-btn .pf-btn-text,
  .product_details_section .review .cart-btn2 .pf-btn-text{
    color:#666666;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    transition: all linear .3s;
  }

  .product_details_section .review .pf-quality .pf-btn p{
    font-size: 16px !important;
  }
  
  .product_details_section .review .cart-btn .pf-btn-text,
  .product_details_section .review .cart-btn .pf-btn-text{
    color: #fff;
    text-align: center;
    padding: 12px 0;
    background: #74663E;
    width: 100%;
    border-radius: 7px;
    margin-bottom: 16px;
  }
  .product_details_section .review .cart-btn:hover .pf-btn-text{
    color: #ffff;
    background: #473e26;
  }
  .product_details_section .review .cart-btn2:hover .pf-btn-text{
    color: #FFF;
    background: #74663E;
  }

  .product_details_section .review .cart-btn2 .pf-btn-text{
    color: #74663E;
    text-align: center;
    padding: 12px 0;
    background: #EEEEEE;
    width: 100%;
    border-radius: 7px;
    margin-bottom: 16px;
    border: 1px solid #74663E;
  }

  
  .product_details_section .review .pf-discount .pf-normal-text{
    color: #74663E;
    font-family: "Open Sans", sans-serif;
    font-size: 26px;
    font-weight: 350;
    line-height: 120%; /* 31.2px */
    margin-bottom: 14px;
  }
  
  .product_details_section .review .pf-month .pf-normal-text{
    color: #444;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    padding: 12px;
    text-align: center;
  }

  .product_details_section .review .pf-month{
    border-radius: 7px;
    border: 1px solid #74663E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
  }
  
  .product_details_section .review .pf-discount .pf-normal-text span{
    font-weight: 700;
  }

  .product_details_section .review .pf-listing ul li,
  .product_details_section .review .pf-instock{
    color: #666;
    font-family: "ABC Favorit Variable";
    font-size: 15.005px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; 
  }

  .product_details_section .review .pf-listing ul li svg{
    margin-right: 9px;
  }
  .product_details_section .review .pf-listing ul {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 11px;
  }

  .product_details_section .review a{
    color: #74663E;
    font-family: "ABC Favorit Variable";
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 16.5px */
    margin-bottom: 10px;
  }

  .product_details_section .review .pf-instock{
      text-align: center;
      margin-bottom: 20px;
  }

  .product_details_section .review .pf-instock .pf-instrock-text{
    font-size: 13px;
  }
  .product_details_section .review .pf-instock svg{
    margin-right: 5px;
  }

  .product_details_section .review .pf-pymant{
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-bottom: 23px;
  }

  .product_details_section .myProductSwiper .swiper-wrapper .swiper-slide-thumb-active{
    border: 1px solid #666;
    border-radius: 7px;
  }

  .product_details_section .myProductSwiper .swiper-wrapper .bottomSlider img{
      border-radius: 7px;
  }
  .product_details_section .myProductSwiper .swiper-wrapper .bottomSlider {
    margin: 25px 0;
  }

  .product_details_section .myProductSwiper2 .swiper-wrapper .topSlider a img{
    border-radius: 10px;
  }
  
  .product_details_section .review .pf-last-delivery{
    background: #E2E2E2;
    padding: 36px 120px;
    border-radius: 10px;
  }

  .product_details_section .pf-bottom-details .btns ul{
    display: flex;
    gap: 24px;
  }
  .product_details_section .pf-bottom-details .btns ul li{
    cursor: pointer;
    color: #444;
    font-family: "ABC Favorit Variable";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */

}
.product_details_section .pf-bottom-details .pf-text-area p {
  color:#666;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%; /* 21px */
  margin-top: 24px;
  max-width: 557px;
}

.product_details_section .pf-bottom-details .pf-text-area {
  height: 108px !important;
  max-height: 100%;
}

.product_details_section .pf-bottom-details .pf-text-area p {
  display: none;
}
.product_details_section .pf-bottom-details .pf-text-area p.active {
  display: block;
}

.pf-bottom-details .btns ul .active{ 
  border-bottom: 1px solid #444444;
}


.product_details_section .pf-top-buttons{
  display: flex;
  margin-bottom: 25px;
  gap: 8px;
}


/* responsive */
@media (min-width: 1400px) {
}
@media(min-width:1200px) and (max-width:1399.98px){ 
  .product_details_section .review .pf-quality .pf-btn{
    padding: 10px 14px;
  }
}

@media(min-width:992px) and (max-width:1199.98px){
  .product_details_section .review .pf-quality .pf-btn{
    padding: 10px 14px;
  }
}

@media(min-width:768px) and (max-width:991.98px){
  .product_details_section .review .pf-product_text{
    font-size: 30px;
  }

  .product_details_section{
    padding: 60px 0;
  }

}


@media (min-width: 576px) and (max-width: 767px) {
  .product_details_section .review .pf-product_text{
    margin-top: 20px;
    font-size: 30px;
  }
  .product_details_section .review .pf-discount .pf-normal-text{
    font-size: 22px;
  }

  .product_details_section{
    padding: 60px 0;
  }

}

@media (max-width: 575px){
  .product_details_section .review .pf-product_text{
    margin-top: 30px;
    font-size: 30px;
  }
  .product_details_section .review .pf-discount .pf-normal-text{
    font-size: 22px;
  }

  .product_details_section .review .pf-listing ul {
    display: flex;
    align-items: start;
    gap: 12px;
    margin-bottom: 11px;
    flex-direction: column;
  }

  
  .product_details_section{
    padding: 60px 0;
  }
}
/* product details section end */


/* benifit section section css start */

.pf-benifit-section a img{
  object-fit: cover;
}

.pf-benifit-section .pf-section-head .pf-sub-head{
  color: #AAA;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 36px */
}
.pf-benifit-section .pf-section-head .pf-common-heading{
  margin-bottom: 40px;
}

.pf-benifit-section .pf-section-accordian .pf-accrdians{
  display: flex;
  align-items: center;
  justify-content: space-between;
}





/* ========= */

.pf-accordian-open {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding 0.5s ease;
}

.pf-section-accordian.active .pf-accordian-open {
  max-height: 200px;
}

.pf-section-accordian .pf-accrdians {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pf-section-accordian .pf-accrdians svg {
  transition: transform 0.3s ease;
}

.pf-section-accordian .icon-minus {
  display: none;
}

.pf-section-accordian.active .icon-minus {
  display: block;
}

.pf-section-accordian.active .icon-plus {
  display: none;
}


.pf-section-accordian .icon-plus,
.pf-section-accordian .icon-minus {
  transition: transform 0.3s ease;
}

.pf-section-accordian.active .icon-plus,
.pf-section-accordian .icon-minus {
  transform: rotate(180deg);
}

.pf-section-accordian{
  border-bottom: 1px solid #666;
  margin-bottom: 23px;
}

.pf-benifit-section{
  padding: 40px 0;
}


@media(min-width:768px) and (max-width:991.98px){
  .pf-benifit-section .pf-container .pf-row .pf-col-lg-6{
    order: 1;
    margin-top: 20px;
  }
  .pf-benifit-section .pf-section-head .pf-sub-head{
    font-size: 26px;
  }

  .pf-benifit-section .pf-section-head .pf-common-heading{
    font-size: 35px;
    max-width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .pf-benifit-section .pf-container .pf-row .pf-col-lg-6{
    order: 1;
    margin-top: 20px;
  }
  .pf-benifit-section .pf-section-head .pf-sub-head{
    font-size: 24px;
  }

  .pf-benifit-section .pf-section-head .pf-common-heading{
    font-size: 30px;
    max-width: 100%;
  }
  .pf-benifit-section .pf-section-accordian .pf-accrdians .pf-product-title{
    font-size: 18px;
  }
}
@media (max-width: 575px){
  .pf-benifit-section .pf-container .pf-row .pf-col-lg-6{
    order: 1;
    margin-top: 20px;
  }
  .pf-benifit-section .pf-section-head .pf-sub-head{
    font-size: 22px;
  }

  .pf-benifit-section .pf-section-head .pf-common-heading{
    font-size: 30px;
    max-width: 100%;
  }
  .pf-benifit-section .pf-section-accordian .pf-accrdians .pf-product-title{
    font-size: 18px;
  }
}


/* benifit section section css end */

/* team section css start */

.pf-team-section .pf-team-warapper .pf-product_text{
  line-height: 120%; /* 46.8px */
  color: #444;
  max-width: 570px;
  margin-bottom: 65px;
}

.pf-team-section .pf-team-text{
  display: flex;
  gap: 40px;
}

.pf-team-section .pf-team-text .text .pf-product-title{
  margin-bottom: 16px;
}
.pf-team-section{
  padding: 40px 0;
}

.pf-team-section .pf-team-text .text .pf-product-sub-title{
  color: #666;
  max-width: 540px;
}
.pf-team-section .pf-team-text{
  margin-bottom: 16px;
}

.pf-team-section .pf-team-img img{
  object-fit: cover;
}
.pf-team-section .pf-container .pf-row{
  align-items: center;
}  


/* team section css end */


/* gallery section start */
.pf-gallery-section .pf-row-02 a img{
  border-radius: 10px;
}
.pf-gallery-section{
  padding: 40px 0;
}

/* gallery section end */


/* choose nation section css start */
.pf-choose-section{
  padding: 40px 0;
}

.pf-choose-section .pf-left-text .pf-product_text{
  margin-bottom: 24px;
  margin-left: 40px;
}

.pf-choose-section .pf-left-text .pf-product-sub-title{
  color: #444;
  margin-left: 40px;
}

@media(min-width:768px) and (max-width:991.98px){
  .pf-choose-section .pf-left-text .pf-product-sub-title{
    margin-left: 0;
    margin-bottom: 20px;
  }
  .pf-choose-section .pf-left-text .pf-product_text{
    margin-left: 0;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .pf-choose-section .pf-left-text .pf-product-sub-title{
    margin-left: 0;
    margin-bottom: 20px;
  }
  .pf-choose-section .pf-left-text .pf-product_text{
    margin-left: 0;
  }
}
@media (max-width: 575px){
  .pf-choose-section .pf-left-text .pf-product-sub-title{
    margin-left: 0;
    margin-bottom: 20px;
  }
  .pf-choose-section .pf-left-text .pf-product_text{
    margin-left: 0;
  }
}


.pf-choose-section .pf-tabs{
  display: flex;
  padding: 0;
}
.pf-choose-section .pf-tabs h4{
  width: 100%;
  text-align: center;
}

.pf-choose-section .pf-tabs .pf-product-title{
  color: #444;
  text-align: center;
  padding: 32px 0;
  width: 100%;
  cursor: pointer;
}
.pf-choose-section .pf-tabs .active{
  border-bottom: 0 !important;
}

.pf-choose-section .pf-tabs .pf-product-title{
border-bottom: 1px solid #000;
border-left: 1px solid #000;
border-right: 1px solid #000;
}
.pf-choose-section .pf-tabs .pf-product-title:first-child{
  border-left: 0;
  border-right: 0;
}
.pf-choose-section .pf-tabs .pf-product-title:nth-last-child(2),
.pf-choose-section .pf-tabs .pf-product-title:nth-last-child(1){
  border-right: 0;
}
.pf-choose-section .pf-container{
  border: 1px solid #000;
  border-radius: 10px;
}
.pf-choose-section .pf-tabs {
 padding-bottom: 48px;
}

.pf-choose-section .pf-right-section a img{
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 45px;
}
/* choose nation section css end */